<%namespace name='static' file='../static_content.html'/>
<%page expression_filter="h"/>
<%! from django.utils.translation import gettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Contact Us")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>Contacto</h1>
        <p>¿Necesitas ayuda con algún aspecto de la plataforma virtual?</p>
        <p>Ponte en contacto con nosotros:</p>
        <p>Correo electrónico: <a href="mailto:huakadigital@gmail.com">huakadigital@gmail.com</a></p>
        <p>Número de teléfono: <a href="tel:+51961738704">+51 961738704</a></p>
        <!-- NEW IN INDIGO: add graphic image -->
        <div class="graphic-img">
            <img src="${static.url('images/contact.svg')}" alt="Runs on Tutor" />
        </div>
    </section>
</main>
